.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.form-group{
    max-width: 65%;
    margin: auto;
    padding: 25px 0;
}
.error-container{
    color: rgb(241, 54, 54);
    font-size: 17px;
    padding: 0 15px;
}