<nav [ngClass]="navigationIsOpen ? 'is-open' : 'is-closed'">
  <div (click)="onHandleNav()" class="nav-open-cont bg-dark">
    <i class="bi bi-list"></i>
  </div>
  <div class="bg-secondary nav-container">
    <div (click)="onHandleNav()" class="nav-close-cont bg-dark">
      <i class="bi bi-arrow-left-square-fill"></i>
    </div>
    <div class="nav-items">
      <div class="logo-container">
        <a routerLink="/">Players versus Players</a>
      </div>

      <a routerLink="/players">
        <button class="btn btn-dark">Players</button>
      </a>
      <a routerLink="/wages">
        <button class="btn btn-dark">Wages</button>
      </a>
    </div>
  </div>
</nav>
