<div class="box p-3">
  <h1>Wage info box</h1>
  <div>
    <p>
      Current Money <strong>{{ currentMoney$ | async }}</strong>
    </p>
    <p>
      Current Monthly Income
      <strong>{{ currentMonthlyIncome$ | async }}</strong>
    </p>
    <p>
      players wage <strong>{{ playersSumWage$ | async }}</strong>
    </p>
  </div>
  <ng-container *ngIf="currentMoney$ | async as currentMoney">
    <ng-container *ngIf="currentMonthlyIncome$ | async as currentMonthlyIncome">
      <ng-container *ngIf="playersSumWage$ | async as playersSumWage">
        <div>
          <p>
            Expected Money at the end of the next month :
            <strong>
              {{ currentMoney + currentMonthlyIncome - playersSumWage }}
            </strong>
          </p>
        </div>
        <div>
          <p>
            Club Financial stability:
            <strong>
              {{
                calculateStability(
                  playersSumWage,
                  currentMonthlyIncome,
                  currentMoney
                )
              }}
            </strong>
          </p>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
